* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  font-family: sans-serif;
}